#span {
  margin-left: 5px;
}

#todo-list {
  justify-content: center;
  align-items: center;
}

#todo-action {
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

#inputTodo {
  height: 25px;
  margin-top: 10px;
}
